# qdrant-universal-injection config
# Reads from /etc/fazai/fazai.conf by default
# These override fazai.conf values if set

## *** WARNING QDRANT NOW USES LOCAL ONNX EMBEDDER ***
## *** DO NOT USE OTHER EMBEDDER LIKE OLLAMA ***

# QDRANT_URL=http://127.0.0.1:6333
# VECTOR_DIMENSION=768
# PROXY_PORT=8787 #DEPRECATED
# PROXY_TARGET=http://127.0.0.1:11434 #DEPRECATED DO NOT USE
# FAZAI_CONFIG_PATH=/etc/fazai/fazai.conf
